.SearchBox{
    /* 内部布局 */
    display: flex;
    justify-content: left;
    align-items: center;

    /* 位置 */
    margin: 20px auto;

    /* 形状 */
    height: 60px;
    width: 60px;
    border-radius: 30px;

    /* 设计 */
    background-color: #a6e3e9;

    /* 动画 */
    transition: all 0.3s ease-in-out;

    /* 溢出隐藏 */
    overflow: hidden;

    position: relative;
}

.SearchBox input{
    height: 80%;
    width: 0;
    margin: auto 20px;

    border:none;
    outline: none;
    background:inherit;
    font-size: 20px;
    transition: all 0.3s ease-in-out;

    opacity: 0;
}

.SearchGlass{
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
    color: white;

}

.SearchBox:hover{
    width: 440px;
}

.SearchBox:hover input{
    width: 100%;
    opacity: 1;
}

.SearchBox:hover .SearchGlass{
    position: absolute;
    top: 50%;
    left: calc(100% - 30px); 
    color: #a6e3e9;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.SearchBox:hover .SearchGlass:hover{
    background-color: rgb(228, 226, 226);
}