.header{
    font-family: 华文行楷;
    color: #1c7887;
    background-color: #a7dce0;;
    padding: 5px;
    text-align: center;
    font-size: xx-large;
}

.navibar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    background-color: #f3f3f3;
}

.navibar li {
    float: left;
}

.navibar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navibar li a:hover:not(.active) {
    background-color: #ddd;
}

.navibar li a.active {
    color: white;
    background-color: #26bcd5;
}

.navibar catalog{
    margin: 0 auto;
}

.navibar .next{
    margin-left: auto;
}

.menuButtons {
    position: relative;
}

.menuButton {
    border: none;
    border-radius: 50%;
    background-color: #a7dce0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.menuButton img {
    pointer-events: none;
}

.subButton {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a7dce0;
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1000;
}

.subButton:hover {
    background-color: #1c7887;
}

.main {
    padding: 1rem;
    max-width: 900px;
    margin: 0 auto;
}
